.env
token.pickle
client_secrets.json
output/
assets/backgrounds/
__pycache__/
*.pyc
.venv/
SadTalker/
media/
assets/flow_clips/
output/
*.json
!requirements.txt
.env.save
token_hindi.json
client_secret_hindi.json
get_hindi_token.py
token_b64_new.txt
get_english_token.py
assets/thumbnails/bg.jpg
