langchain-groq
langchain
moviepy
pillow
requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
gTTS
edge-tts
imageio
imageio-ffmpeg
numpy
soundfile
streamlit
plotly
langchain-google-genai
google-genai
sarvamai
pydub
google-cloud-firestore
psycopg2-binary
