streamlit==1.45.0
langchain-groq
langchain
moviepy
pillow
requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
gTTS
schedule
imageio
imageio-ffmpeg
numpy
edge-tts
