langchain-groq
langchain
moviepy
pillow
requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
gTTS
edge-tts
schedule
imageio
imageio-ffmpeg
numpy
soundfile
streamlit
plotly
langchain-google-genai
google-genai
